<!DOCTYPE html>
<html lang="de">
<head>
    {% load static  %} <!-- Load static files -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Autblog.css' %}"> <!-- External CSS -->

    <title>Käpsele Autoblog</title>
</head>
<body>
    <header class="header bg-dark text-white fixed-top">
        <div class="container">
            <h1 class="text-center">Willkommen im Käpsele Autoblog!</h1> <a href="{% url 'web:logout' %}">Logout</a>
            <nav class="navigation">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link text-white" href="#diy">Do It Yourself</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#autonews">Autonews</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="contactDropdown" role="button" data-bs-toggle="dropdown">Kontakt</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#formular">Formular</a></li>
                            <li><a class="dropdown-item" href="#öffnungszeiten">Öffnungszeiten</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white" href="#überuns">Über uns</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container my-5">

           <!-- Vehicle Showcase Section -->
           <div class="row mt-5" style="padding-top: 180px;">
            <div class="col-md-8">
                <div class="row" id="vehicleCards">
                    {% for auto in blog_daten %}
                    <div class="col-md-4">
                        <div class="vehicle-card" onclick="toggleDetails(this)">
                            <img src="{{ auto.image_url }}" class="img-fluid" alt="{{ auto.marke }}">
                            <div class="vehicle-card-body">
                                <h3>{{ auto.marke }} - {{ auto.bezeichnung }}</h3>
                                <p>Leistung: {{ auto.leistung }}</p>
                                <div class="description" style="display: none;">
                                    <p>Drehmoment: {{ auto.drehmoment }}</p>
                                    <p>Farbe: {{ auto.farbe }}</p>
                                    <p>Preis: {{ auto.preis }} €</p>
                                    <p>Baujahr: {{ auto.baujahr }}</p>
                                    <p>Getriebe: {{ auto.getriebe }}</p>
                                    <p>Verbrauch: {{ auto.verbrauch }}</p>
                                    <p>Hubraum: {{ auto.hubraum }}</p>
                                    <p>Zylinderzahl: {{ auto.zylinderzahl }}</p>
                                    <p>Leergewicht: {{ auto.leergewicht }}</p>
                                    <p>Höchstgeschwindigkeit: {{ auto.hoechstgeschwindigkeit }}</p>
                                    <p>Beschleunigung 0-100: {{ auto.beschleunigung_0_100 }}</p>
                                    <p>Erscheinungsjahr: {{ auto.erscheinungsjahr }}</p>
                                    <p>Anzahl Türen: {{ auto.anzahl_tueren }}</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4" id="detailField" style="display: none;">
                        <h2>Beschreibung</h2>   
                           <p>
                            {{ auto.beschreibung }} 
                         </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </section>
        <hr>
        <!-- Comment Section -->
        <section>
            {% include 'blog/commentsection.html' %}
        </section>
        <hr>
        <!-- Do It Yourself Section -->
        <section id="diy" class="category service-section mb-5">
            <h2 class="text-center">Do It Yourself</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'img/Kühlwasser.jpg' %}" class="img-fluid" alt="Kühlwasser nachfüllen">
                </div>
                <div class="col-md-6">
                    <h3>Kühlwasser nachfüllen: So geht's!</h3>
                    <p>
                        Das Nachfüllen des Kühwassers ist eine der wichtigsten Wartungsarbeiten, die Sie selbst durchführen können. In diesem Tutorial erfahren Sie Schritt für Schritt, wie Sie den Kühlwasserstand prüfen, das richtige Kühlmittel auswählen und sicherstellen, dass Ihr Motor optimal gekühlt wird. Ein gut gewartetes Kühlsystem sorgt für eine längere Lebensdauer Ihres Fahrzeugs und schützt vor teuren Reparaturen.
                    </p>
                    <a href="#" class="btn btn-primary">Weiterlesen</a>
                </div>
            </div>
        </section>

        <!-- Autonews Section -->
        <section id="autonews" class="category service-section mb-5">
            <h2 class="text-center">Autonews</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'img/Christmas.jpg' %}" class="img-fluid" alt="Weihnachtsgruß">
                </div>
                <div class="col-md-6">
                    <h3>Nur die besten Weihnachtswünsche für Dich!</h3>
                    <p>
                        Die Weihnachtszeit ist die beste Zeit des Jahres, und wir sorgen dafür, dass Ihre Fahrten ebenso entspannt wie festlich sind. Lesen Sie unsere Tipps und Tricks für eine sichere Fahrt zu Ihrer Familie und Freunden, egal bei welchem Wetter. Erfahren Sie, wie Sie Ihr Auto für den Winter richtig vorbereiten, und lassen Sie sich von uns inspirieren, wie Sie das Beste aus der Fahrt nach Hause herausholen.
                    </p>
                    <a href="#" class="btn btn-primary">Weiterlesen</a>
                </div>
            </div>

        <!-- Kontakt Section -->
        <section id="kontakt" class="category service-section mb-5">
            <h2 class="text-center">Kontakt</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'img/Kontakt.jpg' %}" class="img-fluid" alt="Kontakt aufnehmen">
                </div>
                <div class="col-md-6">
                    <h3>Kontaktiere uns: So geht's!</h3>
                    <p>
                        Haben Sie Fragen zu unseren Artikeln oder brauchen Sie Hilfe bei der Pflege Ihres Fahrzeugs? Wir sind hier, um Ihnen zu helfen! Füllen Sie einfach das Kontaktformular aus oder besuchen Sie uns während unserer Öffnungszeiten. Unser Team von Experten freut sich darauf, Ihnen mit nützlichen Informationen zur Seite zu stehen und Ihre Fragen zu beantworten.
                    </p>
                    <form id="contactForm" action="" method="post">
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Ihr Name" required>
                        <input type="email" name="email" placeholder="Ihre E-Mail" required>
                        <input type="text" name="text" placeholder="Ihre Nachricht" required>
                        <input type="submit" name="submit_contact" class="btn btn-primary mt-2" onclick="addItem()">
                    </form>
                </div>
            </div>

            <script>
                document.getElementById('contactForm').addEventListener('submit', function(event) {
                    event.preventDefault(); 

                    const email = this.email.value;
                    const text = this.text.value;


                    fetch('/blog/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: '{"email":"' + email + '", "text":"' + text + '"}'  //JSON-Format
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Network response was not ok.');
                    })
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                });


            function clearField(field){
                document.field.value = '';

            }


            function toggleDetails(card) {
                const description = card.querySelector('.description');
                const detailField = document.getElementById('detailField');
                const detailContent = document.getElementById('detailContent');
                

                // Alle Fahrzeugkarten ausblenden
                const allCards = document.querySelectorAll('.vehicle-card');
                allCards.forEach(function(otherCard) {
                    if ((otherCard !== card) & (otherCard.style.display === card.style.display)) {
                        otherCard.style.display = 'none'; // Blende die anderen Karten aus
                    }else{

                        otherCard.style.display =  card.style.display;

                    }
                });

                // Wenn die Beschreibung ausgeblendet ist, zeige sie an und fülle das Detailfeld
                if (description.style.display === 'none' || description.style.display === '') {
                    // Zeige die Beschreibung unter dem Fahrzeug an
                    description.style.display = 'block'; // Zeige die Beschreibung an
                    detailField.style.display = 'block'; // Zeige das Detailfeld an
                    detailContent.innerHTML = description.innerHTML; // Fülle das Detailfeld mit der Beschreibung
                } else {
                    description.style.display = 'none'; // Blende die Beschreibung aus
                    detailField.style.display = 'none'; // Blende das Detailfeld aus

                }
            }
            
            </script>

            <!-- Google Map Section -->
            <div class="row mt-5">
                <div class="col-12">
                    <h4 class="text-center">Besuchen Sie uns in Stuttgart!</h4>
                    <div class="map-container">
                        <iframe 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2630.0862588381023!2d9.17760731566913!3d48.78409307928125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4799db53a0158f6d%3A0xf0d0d8302701d44f!2sDHBW%20Stuttgart!5e0!3m2!1sen!2sde!4v1697887695705!5m2!1sen!2sde" 
                            width="100%" 
                            height="400" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </section>

        <!-- Über uns Section -->
        <section id="überuns" class="category service-section mb-5">
            <h2 class="text-center">Über uns</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'img/Umut Bild.jpg' %}" class="img-fluid" alt="Umut Polat">
                </div>
                <div class="col-md-6">
                    <h3>Über uns!</h3>
                    <p>
                        Wir sind ein engagiertes Team von Autoliebhabern, die ihre Leidenschaft mit der Welt teilen möchten. Unser Ziel ist es, Ihnen wertvolle Tipps, die neuesten Nachrichten und detaillierte Anleitungen zu bieten, um Ihre Autopflege so einfach wie möglich zu gestalten. Egal ob Sie ein erfahrener Schrauber oder ein Einsteiger sind, wir haben für jeden etwas dabei!
                    </p>
                    <a href="#" class="btn btn-primary">Weiterlesen</a>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer bg-dark text-white text-center">
        <p>&copy; 2024 Käpsele Blog | All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
